#ifndef APP_CONFIG_H
#define APP_CONFIG_H

#define WIFI_SSID       "MON-RESEAU-WIFI"
#define WIFI_PASSWORD   "motdepasse"

#define TS_API_KEY      "XXXXXXXXXX"

#define AIO_USER        "XXXXXXXXXX"
#define AIO_KEY         "XXXXXXXXXX"

#endif